.post {
  border: 1px solid gray;
  border-radius: 16px;
  margin: 16px 30%;
  padding: 0 80px;
  box-shadow: 3px 5px 7px gray;
  text-align: left;
  cursor: pointer;
}

.post--clicked {
  background-color: gray;
}

.post__author {
  font-weight: 700;
}