.row {
  max-width: 1140px;
  margin: 0 auto;
}

.row:not(:last-child) {
  margin-bottom: 80px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

[class^="col-"] {
  float: left;
  height: 100px;
  background-color: grey;
  font-size: 24px;
}

[class^="col-"]:not(:last-child) {
  margin-right: 60px;
}

 .col-1-of-2 {
  width: calc((100% - 60px) / 2);
} 

.col-1-of-3 {
  width: calc((100% - 2 * 60px) / 3);
} 

.col-2-of-3 {
  width: calc(60px + 2 * (100% - 2 * 60px) / 3);
}  